spring.application.name=yourappname
spring.datasource.url=jdbc:mysql://localhost:3306/your_db
spring.datasource.username=yorusername
spring.datasource.password=yourpassword
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
